* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Times New Roman', sans-serif;
    background: #1A1A1A;

}

/* Header */

#topo {

    display: flex;
    flex-direction: column;
    background: #111111;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
    position: relative;
    left: 0;
    top: 0;

}

#topo-pagina-inicial {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    height: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

}

#logo {
    
    color: #ff0000;
    font-size: 70px;

}

#logo-pagina-inicial {

    color: #ff0000;
    font-size: 70px;
    position: absolute;
    left: 40px;

}

#subtitulo {

    color: #ffffff;

}

#subtitulo-pagina-inicial {

    color: #ffffff;
    position: absolute;
    left: 100px;
    top: 110px;

}

.menu-container {

    display: flex;
    gap: 50px;

}

.menu-container a {

    color: #ff0000;
    text-decoration: none;
    font-size: 30px;

}

.menu-container a:hover {

    color: #ffffff;
    transform: translateY(-5px);

}

/* Main */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;

}

.formulario-container {
    
    margin: 50px;

}

.container-main {

    padding-top: 150px;

}

#boas-vindas {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#boas-vindas h2 {

    color: #ff0000;
    font-size: 30px;

}

#boas-vindas p {

    color: #ffffff;
    font-size: 20px;

}

form {

    display: flex;
    background: #111111;
    flex-direction: column;
    width: 500px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    
}

form h2 {

    display: flex;
    justify-content: center;
    color: #ff0000;
    font-size: 30px;

}

form p {

    display: flex;
    justify-content: center;
    color: #ffffff;

}

.area-input {

    margin: 10px;

}

.area-input label {

    color: #ff0000;
    font-size: 20px;

}

.input {

    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    background: white;

}

.input i {

    margin-right : 5px;

}

.input input {

    border: none;
    outline: none;
    font-size: 20px;

}

.termos {

    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    margin-left: 20px;

}

.termos input {

    width: auto;
    margin-bottom: 0;

}

.termos label {

    margin-bottom: 0;
    color: #F4F4F4;
    font-weight: 400;
    
}

.area-botao-cadastro {

    display: flex;
    justify-content: center;
    margin: 20px;

}

.botao-cadastro {

    background: #505050;
    border-radius: 12px;
    width: 250px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;

}

.botao-cadastro:hover {

    background: #ff0000;
    transform: translateY(-5px);

}

.fazerlogin {

    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;

}

.fazerlogin a {

    color: #ff0000;
    text-decoration: none;

}

.fazerlogin a:hover {

    transform: translateY(-5px);

}

.lembrar {

    display: flex;
    gap: 10px;
    margin-left: 20px;

}

.lembrar label {

    color: #ffffff;

}

.area-botao-login {

    display: flex;
    justify-content: center;
    margin: 20px;

}

.botao-login {

    background: #505050;
    border-radius: 12px;
    width: 250px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;

}

.botao-login:hover {

    background: #ff0000;
    transform: translateY(-5px);

}

.cadastrar-se {

    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;

}

.cadastrar-se a {

    color: #ff0000;
    text-decoration: none;

}

.cadastrar-se a:hover {

    transform: translateY(-5px);

}

.esqueci-senha {

    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #505050;

}

.esqueci-senha:hover {

    transform: translateY(-5px);

}

.area-cards {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111111;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);

}

.area-pesquisa {

    display: flex;
    justify-content: center;
    margin: 30px;

}

#barra-pesquisa {

    width: 500px;
    height: 40px;
    border-radius: 12px;

}

.cards {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 50px;
    flex-wrap: wrap;

}

.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #1A1A1A;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);

}

.card:hover {

    transform: translateY(-5px);

}

.card h2 {

    color: #FF0000;
    font-size: 20px;

}

.card p, span {

    color: #FFFFFF;

}

.card button {

    background: #505050;
    cursor: pointer;
    color: #FFFFFF;
    width: 150px;
    border-radius: 12px;
    height: 25px;

}

.card button:hover {

    background: #FF0000;
    transform: translateY(-5px);

}

#agendamentos {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px;

}

#agendamentos h2 {

    color: #FF0000;
    font-size: 40px;

}

#agendamentos p {

    color: #FFFFFF;
    font-size: 20px;

}