* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Times New Roman', sans-serif;
    background: #1A1A1A;
    
}

main {

    display: flex;
    justify-content: center;
    margin-top: 100px;

}


#topo {

    background: #111111;
    padding: 30px;

}

#logo {

    display: flex;
    justify-content: center;
    color: #FF0000;
    font-size: 50px;

}

.subtitulo {

    display: flex;
    color: #FFFFFF;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 20px;

}



form {

    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 25px;
    border-radius: 12px;
    background: #111111;

}

h2 {

    text-align: center;
    color: #FF0000;
    margin-bottom: 20px;

}

label {

    color: #FF0000;
    font-weight: 700;
    margin-bottom: 5px;

}

input,
button {

    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 12px;

}

button {

    background: #505050;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
    margin-bottom: 0;

}

button:hover {

    background: #FF0000;

}

.esquecisenha {

    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 6px;
    font-size: 0.9rem;
    color: #999;

}

.esquecisenha:hover {

    color: #FF0000;

}

.lembrar {

    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 40px;

}

.lembrar input {

    width: auto;
    margin-bottom: 0;

}

.lembrar label {

    margin-bottom: 0;
    color: #F4F4F4;
    font-weight: 400;

}

.cadastro {

    margin-top: 12px;
    text-align: center;
    color: #F4F4F4;

}

.cadastro-link {

    text-decoration: none;
    color: #FF0000;
    margin-left: 5px;

}

.cadastro-link:hover {

    color: #FFFFFF;

}